body{
    background-color: #444ac2
}
.nav-bar{
    width: 200px;
    height: 140px;
    background-color: rgb(30, 66, 120);
    border-radius: 20px;
    overflow:auto;
    white-space:nowrap;
    display:flex;
    flex-direction: row;
}
.engi_page:hover{
    transition: 0,1 ease-in;
    opacity: 0.5;
}
.driller_page:hover{
    transition: 0,1 ease-in;
    opacity: 0.5;
}.scout_page:hover{
    transition: 0,1 ease-in;
    opacity: 0.5;
}.gunner_page:hover{
    transition: 0,1 ease-in;
    opacity: 0.5;
}

p::first-line{
    color: orange
}
p::first-letter{
    color: blue
}
#engi_page{
    background-image:url('Engineer2.png');
}
#scout_page{
    background-image:url('Scout.png');
}
#driller_page{
    background-image:url('Driller.png');
}
#gunner_page{
    background-image:url('Gunner.png');
}