body, html{
    height: 100%;
    margin: 0;
}
.container{
    background-image: url("parchament.png");
    background-color: beige;
    background-size: 130vh;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.container_txt{
    display: flex;
    flex-direction: column;
    width: 500px;
}