.container{
    display: flex;
    justify-content: center;
    
}
.form_container{
   background-color: #0000ff;
   width: 150px;
   margin: 0 0 0 15px;
}
.accepted{
    background-color: blue;
}
.info_text{
    display:grid;
    justify-content: center;
    width: 350px;
    height: 200x;
    border: black 2px solid;
}
.button_class{
    background-color: grey;
    display: flex;
    justify-content: space-between;
}
.flex {
    border: solid 3px black;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(59, 20, 119);

}